{% extends 'layout.html' %}
{% load static %}
{% block content %}
            <!-- Slider (Carousel) -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="7000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/1.jpg' %}" class="d-block w-100" alt="Slide 1">
                <div class="carousel-caption d-block p-2">
                    <h5 class="fs-6 fs-md-5">নতুন পুরাতন ট্রাক্টর কেনা বেচার জন্য যোগাযোগ করুন!</h5>
                    <p class="fs-6 fs-md-5">মোবাইলঃ ০১৭৪৩৬০৯৮৬৩</p>
                </div>
                    
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="Slide 2">
                <div class="carousel-caption d-block p-2">
                    <h5 class="fs-6 fs-md-5">নতুন পুরাতন ট্রাক্টর কেনা বেচার জন্য যোগাযোগ করুন!</h5>
                    <p class="fs-6 fs-md-5">মোবাইলঃ ০১৭৪৩৬০৯৮৬৩</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/3.jpg' %}" class="d-block w-100" alt="Slide 3">
                <div class="carousel-caption d-block p-2">
                    <h5 class="fs-6 fs-md-5">নতুন পুরাতন ট্রাক্টর কেনা বেচার জন্য যোগাযোগ করুন!</h5>
                    <p class="fs-6 fs-md-5">মোবাইলঃ ০১৭৪৩৬০৯৮৬৩</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/4.jpg' %}" class="d-block w-100" alt="Slide 4">
                <div class="carousel-caption d-block p-2">
                    <h5 class="fs-6 fs-md-5">নতুন পুরাতন ট্রাক্টর কেনা বেচার জন্য যোগাযোগ করুন!</h5>
                    <p class="fs-6 fs-md-5">মোবাইলঃ ০১৭৪৩৬০৯৮৬৩</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/5.jpg' %}" class="d-block w-100" alt="Slide 5">
                <div class="carousel-caption d-block p-2">
                    <h5 class="fs-6 fs-md-5">নতুন পুরাতন ট্রাক্টর কেনা বেচার জন্য যোগাযোগ করুন!</h5>
                    <p class="fs-6 fs-md-5">মোবাইলঃ ০১৭৪৩৬০৯৮৬৩</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Product Section -->
    <section class="container my-5">
        <h2 class="text-center mb-4" style="color: #006134; font-weight: 700;">ট্রাক্টরের লিস্ট</h2>
        <div class="row g-4">
            {% for tractor in tractors %}
            <div class="col-12 col-sm-12 col-md-4">
                <div class="card product-card">
                    {% if tractor.tractor_images.first %}
                    <img src="{{ tractor.tractor_images.first.image.url }}" class="card-img-top" alt="{{ tractor.name }}">
                    {% else %}
                    <img src="{% static 'images/default_tractor.jpg' %}" class="card-img-top" alt="{{ tractor.name }}">
                    {% endif %}
                    
          
                    <div class="card-body">
                        {% if tractor.is_active %}
                        <span class="badge bg-success on-sell-badge">বিক্রি হবে</span> 
                        {% else %}
                        <span class="badge bg-danger on-sell-badge">বিক্রি হয়ে গেছে</span>
                        {% endif %}
                        <h3 class="card-title">{{tractor.brand.name|capfirst}}: {{ tractor.name }}</h3>
                        <p class="card-text">{{ tractor.model_year }} model, {{ tractor.engine_power }} HP, {{ tractor.condition }}</p>
                        <p class="card-text">Brand: {{ tractor.brand.name }}</p>
                        <p class="fw-bold">৳ {{ tractor.price }}/- Taka</p>
                        <a href="{% url 'tractor_details' tractor.slug %}"><button class="btn btn-custom" data-product="{{ tractor.name }}">ট্রাক্টরের বিবরন</button></a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>No tractors available at the moment.</p>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock content %}

